name: Deploy to SSH Server

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H -p 2201 ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy via SSH
        run: |
          ssh -i ~/.ssh/id_ed25519 -p 2201 ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            set -e
            cd Nextjs_KkeutGong_Randing/
            git pull origin main
            docker compose build
            docker tag nextjs_kkeutgong_randing-kkeutgong-landing localhost:5000/nextjs_kkeutgong_randing-kkeutgong-landing:latest
            docker push localhost:5000/nextjs_kkeutgong_randing-kkeutgong-landing:latest
            kubectl rollout restart deploy kkeutgong-landing
          EOF